body {
  font-size: 16px;
  background-color: #ffff;
  color: #000000;
}

figcaption {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%
}

h1 {
  font-weight: bold;
  font-size:25px;
  text-transform: capitalize;
  line-height: 150%
}

h3 {
  font-size: 16px;
  text-transform: none;
  line-height: 125%;
}

p {
  font-size: 16px;
  text-align: left;
  line-height: 125%
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  backround: url(images/bloc-logo.png);
  margin: 20px;
  width: 100px;
}

.medium-pic {
  background: url(images/instagram-pic.jpg);
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  text-decoration: none;
}

article {
  padding-top: 100px;
}

.author {
  font-weight: bold;
  font-size: 20px;
  color: #3F3FBF;
  line-height: 150%;
}

.container {
  margin: 0 auto;
  width: 50%;
}
